html, body{
    font-family: roboto;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    color: inherit;
}
.logo{
    float: left;
    height: 66px;
    width: 66px;
    padding: 0 25px;
}
.nav{
position: absolute;
padding: 50px;
justify-content: space-between;
width: 100%;
box-sizing: border-box;
color: white;
background-color: #b6b6b6;
list-style: none;
}
.nav a{
    padding: 0 10px;
    text-decoration: none;
    text-align: justify;
}
.nav a:hover{
    color: white;
}
.container{
    overflow: auto;
    padding-top: 66px;
    margin: 0 20px;
}
p,h1,h2{
    background-color: #787878;
    color: black;
}
.logo_index{
    height: 100px;
    width: 500px;
}
.nav .nav-links ul{
    list-style: none;
    color: white;
    float: right;
}
@media screen and (max-width: 900px) {
    .nav{
        display: none;
    }
}